{{> header}}

<div id="content" class="single">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="row">
          <a class="anchor" id="top"></a>
          <div class="col-xs-12">
            <img src="/assets/img/group/4.jpg"
                 class="img-responsive img-rounded" alt="blue Systems Group Photo" />
          </div>
        </div>
        <div class="h1 tighttop">Teaching Portfolio</div>
        {{{ contents }}}
      </div>

      <div id="scrollspy" class="hidden-xs hidden-sm col-md-4 blue-sidebar">
        <div id="sidebar" class="high fixed-md-4" style="top:60px;">
          <div class="text-center">
            <div class="side-headings">
              <div class="h2">Info</div>
              <ul class="list-inline dash-list">
                <li>
                  <a class="nopdf" href="/people/challen@buffalo.edu/GeoffreyChallen-CV.pdf">CV</a>
                </li>
                <li>
                  <a class="noexternal" href="https://www.bluegroup.systems/scholar">Scholar</a>
                </li>
                <li>
                  <a class="noexternal" href="https://www.linkedin.com/pub/geoffrey-challen/1a/b77/572">LinkedIn</a>
                </li>
              </ul>
              <ul class="list-inline dash-list">
                <li>
                  <a class="noexternal" href="https://github.com/blue-systems-group">GitHub</a>
                </li>
                <li>
                  <a class="noexternal" href="https://www.youtube.com/channel/UCzntthQN6ZF01rRRWikcmmQ">YouTube</a>
                </li>
              </ul>
              <div class="h2">Statements</div>
              <ul class="list-inline dash-list">
                <li>
                  <a class="nopdf" href="/people/challen@buffalo.edu/GeoffreyChallen-Teaching.pdf">
                    Teaching
                  </a>
                </li>
                <li>
                  <a class="nopdf" href="/people/challen@buffalo.edu/GeoffreyChallen-Research.pdf">
                    Research
                  </a>
                </li>
              </ul>
              <ul class="list-inline dash-list">
                <li>
                  <a class="nopdf" href="/people/challen@buffalo.edu/GeoffreyChallen-Improvement.pdf">
                    Improvement
                  </a>
                </li>
                <li>
                  <a class="nopdf" href="/people/challen@buffalo.edu/GeoffreyChallen-Effectiveness.pdf">
                    Effectiveness
                  </a>
                </li>
              </ul>
              <ul class="list-inline dash-list">
                <li>
                  <a class="nopdf" href="/people/challen@buffalo.edu/GeoffreyChallen-Service.pdf">
                    Service
                  </a>
                </li>
                <li>
                  <a class="nopdf" href="/people/challen@buffalo.edu/GeoffreyChallen-Diversity.pdf">
                    Diversity
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <hr style="margin-top:10px; margin-bottom:10px;" />
          <ul class="nav nav-stacked small">
            <li><a href="#top">Introduction</a>
              {{#each sections}}
              <li><a href="#{{ id }}">{{{ text }}}</a>
                {{#if children}}
                <ul class="nav">
                  {{#each children}}
                  <li><a href="#{{ id }}">{{{ text }}}</a></li>
                  {{/each}}
                </ul>
                {{/if}}
              </li>
              {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      {{> footer}}
    </div>
  </div>
</div>

</body>
</html>

<!--
  vim: ts=2:sw=2:et:ft=html
-->
